<!DOCTYPE html>
<html lang="es">
{% extends 'biblioteca/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Listado de Generos</title>
</head>
{% block content %}
    <h1>Listado de Generos</h1>
    <div table-responsive>
    <table class="table-striped table-hover">
        <thead class="thead-dark">
            <th width="250px">Denominación del genero</th>
            <th colspan="2" align="centre">Acciones</th>
        </thead>
         {% for genero in object_list %}
            <tr>
                <td class="info">
                <a href="{% url 'genero-detail'  genero.id %}">{{ genero.genero }}</a>
                </td>
                <td>
                <a href="{% url 'genero-update-form'  genero.id %}" class="btn btn-warning">Modificar</a>
                </td>
                <td>
                <a href="{% url 'genero-delete'  genero.id %}" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
         {% empty %}
            <td>No hay Géneros todavía</td>
         {% endfor %}
    </table>
    </div>
    <a href= "{% url 'indice' %}" class="btn btn-default">Página Inicial </a>
    <a href= "{% url 'genero-create' %}" class="btn btn-default">Alta</a>
{% endblock %}
</html>